<br/><br/>
<h1> Edit Password </h1>
<br/>

<%= form_with model: Current.user, url: password_path, data: { turbo: false } do |form| %>

    <%if form.object.errors.any? %>

        <div class="alert alert-danger" role="alert">
            <% form.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>

    <% end %>

    <div class="mb-3">
        <%=form.text_field :password, class: "form-control", placeholder: "Password" %>
    </div>

    <div class="mb-3">
        <%=form.text_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
    </div>

    <div class="mb-3">
        <%=form.submit "Update Password",method: :patch, class: "btn btn-primary"%>
    </div>

<% end %>